@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-forward {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-backward {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.forward {
  animation: marquee-forward 40s linear infinite;
}

.backward {
  animation: marquee-backward 40s linear infinite;
}
.gra {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
